{% extends 'base.html' %}

{% block  content %}
<div class="container">
    <form method="post", action="{% url 'edit' user.id %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input value={{user.username}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input value={{user.email}} type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input value={{user.address}}  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address">
          </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
    </form>

</div>
{% endblock %}